body
	margin 0
	padding 0
	position absolute
	top 0
	bottom 0
	left 0
	right 0
	color white
	background-color #1c1c1c
	font-family 'Jetbrains Mono', 'Consolas', 'Droid Sans Mono', 'Dejavu Sans Mono', monospace;
	display flex
	align-items center
	justify-content center
	overflow overlay

.content
	display flex
	flex-direction column
	text-align center
	box-sizing border-box
	max-width 100vw
	
	.header
		overflow hidden
		opacity 0.8
		height auto
		white-space wrap

	#char
		font-family 'Noto', 'Noto Sans', 'Noto Sans JP', 'Dejavu Sans', sans-serif
		font-size 10em
		&.animate
			animation show 200ms 1 ease
		
	#word
		font-family 'Noto', 'Noto Sans', 'Noto Sans JP', 'Dejavu Sans', sans-serif
		font-size 2em
		opacity 0.7
	
	#answer
		font-size 2em
		padding 1rem
		opacity 0

	.input-wrap
		display flex
		align-items center
		justify-content center
		overflow hidden
		max-width 100vw
		
	#input
		display inline-block
		background-color #333
		font-size 2em
		border none
		color white
		padding 1rem 2rem
		max-width 100vw
		box-sizing border-box
		
		
	#descr 
		padding 20px
		opacity 0.8
		box-sizing border-box
		
	#stats
		padding 20px
		opacity 0.1
		
	#forkme
		align-self center
		display inline-block
		color white
		width 3rem
		height 3rem 
		padding 0
		margin 0
		background-image url('git-alt-brands.svg')		
		background-size contain
		background-repeat no-repeat
		background-position center center
		filter invert(100%)
		-webkit-filter invert(100%)
		opacity 0.1
		&:hover
			opacity 0.2
		
@keyframes show {
  0% {
    transform: scale(0.8)
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.0);
  }
}			