doctype html
html(lang="ru")
	head
		meta(charset="utf8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(rel="icon" type="image/svg" href="../style/favicon.png")
		link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap" rel="stylesheet")
		script(defer="defer" src="../src/calibrate.js")
		link(rel="stylesheet" href="../style/index.styl")
		title Yajla
	body
		.content
			.header 
				h1 Yet Another Japanese Learning App
			.body
				#char あ
				#word 
				#answer a
				.input-wrap
					input#input(placeholder=romanji)
				#descr Type in romaji reading. Press [space] to show the answer.  
				#stats
			a#forkme(href="https://git.paulll.cc/paulll/yajla" target="_blank")