doctype html
html(lang="ru")
	head
		meta(charset="utf8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		//link(rel="icon" type="image/png" href="../style/favicon.png")
		script(defer="defer" src="../src/index.js")
		link(rel="stylesheet" href="../style/index.styl")
		title Yajla
	body
		.content
			.header 
				h1 Yet Another Japanese Learning App
			.body
				#char あ
				#word 
				#answer a
				.input-wrap
					input#input(placeholder=romanji)
				#descr Type in romaji reading. Press [space] to show the answer.  		
